@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');

:root {
     --cor-primaria: #000000;
     --cor-secundaria: #f6f6f6;
     --cor-tercearia: #576CBC; 
     --cor-hover: #19376D; 

     --fonte-primaria: 'Krona One', sans-serif;
     --fonte-secundaria: 'Montserrat', sans-serif;

     --fonte-tamanho-1: 1.5rem;
     --fonte-tamanho-2: 2.25rem;
}

*{
    padding: 0;
    margin: 0;
}
body{
    background-color: var(--cor-primaria);
    box-sizing: border-box;
    color: var(--cor-secundaria);
}
.barra_navegacao{
    display: flex;
    padding: 2% 0% 0% 15%;
    gap: 80px;
}
.bnav{
    color: var(--cor-tercearia);
    font-family: var(--fonte-secundaria);
    font-weight: 600;
    font-size: var(--fonte-tamanho-1);
    text-decoration: none;
}
.color{
    color: var(--cor-tercearia);
}
.apresentacao{
    display: flex;
    justify-content: space-between;
    padding: 5% 15%;
    align-items: center;
    gap:80px;
}
.a_conteudo{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 40px;

}
.a_titulo{
  
    font-size: var(--fonte-tamanho-2);
    font-family: var(--fonte-primaria);
}
.a_texto{
  
    font-size: var(--fonte-tamanho-1);
    font-family: var(--fonte-secundaria);
    text-align: justify;
    width: 100%;
}
.a_link{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    gap: 32px 
}
.a_subtitulo{
       font-family: var(--fonte-primaria);
       font-weight: 400;
       font-size: var(--fonte-tamanho-1);
}
.a_btn{
    display: flex;
    justify-content: center;
    gap: 16px;
    text-decoration: none;
    color: var(--cor-primaria);
    font-size: var(--fonte-tamanho-1);
    padding: 21.5px 0;
    font-family: var(--fonte-secundaria);
    border-radius: 8px;
    width: 50%;
    text-align: center;
    font-weight:600;
    color: var(--cor-secundaria);
    border: 2px solid var(--cor-tercearia);
}
.a_btn:hover{
    background-color: var(--cor-hover);
    transition: 1s;
}
.foto{
    box-shadow: 0px 0px 10px 5px  #22d5fd82;
    border-radius: 10px;
    width: 50%;
}
.rodape{
    background-color: var(--cor-tercearia);
    font-family: var(--fonte-secundaria);
    text-align: center;
    color: var(--cor-primaria);
    padding: var(--fonte-tamanho-1);
    position: fixed;
    bottom: 0;
    width: 100vw;
}
/* proxima pagina  SOBRE MIM */

.foto2{
    box-shadow: 0px 0px 10px 5px  #22d5fd82;
    border-radius: 10px;
}

.caixa_foto{
    display: flex;
    flex-direction: column;
    gap: 40px;
}
/* proxima pagina  CURRICULO */

.link_curriculo{
    text-decoration: none;
    color: var(--cor-tercearia);
}


@media (max-width: 1200px){


    .apresentacao{
        display: flex;
        flex-direction: column-reverse;
        padding: 5% 15%;
        align-items: center;
        gap:80px;
    }
    .a_conteudo{
        width:100%;
    }
    .foto{
        width: 80%;
    }
    .barra_navegacao{
        display: flex;
        padding: 15% 20%;
        justify-content: center;
    }
}

@media (max-width: 750px){

    body{
        background-color: rgb(31, 31, 31);
    }
    .a_conteudo{
        width:100%;
    }
    .foto{
        width: 80%;
    }
}

