@import '../abstract/variaveis.scss';

body{
    background-color: black;
}
.cabecalho{
    background-color: rgb(20, 20, 20);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    .container{
        .container_botao{
            display: none
        }
        .container_botao:checked  ~ .lista_menu{
            display: block;
            background-color: rgb(20, 20, 20);
            border-end-end-radius: 10px;
            opacity: 90%;
        }
        label{
            .cabecalho__menu-hamburguer{
                width: 24px;
                height: 24px;
                background-image: url(../img/Menu.svg);
                background-repeat: no-repeat;
                background-position: center;
                display: inline-block;
                
            }
            .container_imagem{
                padding: 1em;
            }
        }
        .lista_menu{
            display: none;
           list-style: none;
           position: absolute;
           top:100%;
           width: 40vw;
            .lista_menu_item{
                padding: 0.5em;
                text-transform: uppercase;
                
                a{
                    text-decoration: none;
                    font-family:  $font1;
                    color: white;
                }
            }
        
        }
    }
}
h1{
    color: white;
    font-size: 1em;
    text-transform: uppercase;
    padding: 10px;
    font-family:  $font1;
}

@media screen and (min-width: 720px) {

    .cabecalho {
        .container {
            .lista_menu{
                display: flex;
                position: static;
                width: 60vw;
                font-size: 1rem;
                justify-content: space-around;
                align-items: center;
                height: 10vh;
                font-weight: bold;
            }
            label {
                .container_imagem {
                    display: none;
                }
            }
        }
    } 
}

@media screen and (min-width: 1200px) {

    .cabecalho {
        flex-direction: row-reverse;
        .container {
            .lista_menu{
                width: 70vw;
            }
        }
    } 
}